body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
    overflow: hidden;
    height: 100vh;
  }
  
  .left {
    padding: 20px;
  }
  
  .left ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
    background-image: url("img/rednet.jpg");
  }
  
  .right {
    overflow-y: scroll;
    padding: 20px;
    height: 300vh;
  }
  
  .right img {
    position: absolute;
    opacity: 0.9;
    max-width: 20%;
  }

  ul { 
    list-style-type: none;
  }
  